body {
  width: 100%;
  height: 100%;
  margin: auto;
}
h1 {
  text-align: center;
}

img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align: center;
}

a:link {
  background-color: darkgrey;
}

figcaption {
  font-size: small;
  text-align: center;
  padding: 10px 0;
}

#blockPara {
  width: 800px;
  margin: auto;
  text-align: center;
}


#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: red;
  
}

#details a:link {
  background-color: red;
}




